PORT=3000
AUTH_URL=http://localhost:3003
CATALOG_URL=http://localhost:3001
LOAN_URL=http://localhost:3002
AUTH_API_KEY=isi-32char-hex-sama-dengan-auth-service
CATALOG_API_KEY=isi-32char-hex-sama-dengan-catalog-service
LOAN_API_KEY=isi-32char-hex-sama-dengan-loan-service
JWT_SECRET=isi-sama-dengan-auth-service
AUTH_CHECK_TIMEOUT_MS=5000