PORT=3002
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=loan_db
LOAN_API_KEY=isi-32char-hex-sama-dengan-gateway
CATALOG_API_KEY=isi-32char-hex-sama-dengan-gateway
AUTH_API_KEY=isi-32char-hex-sama-dengan-gateway
CATALOG_SERVICE_URL=http://localhost:3001
AUTH_SERVICE_URL=http://localhost:3003
CATALOG_TIMEOUT_MS=5000
AUTH_TIMEOUT_MS=5000